.login-wrapper
  %h2 Welcome!

  = form_tag session_path  do |f|
    %p.error-message
      = flash[:error]

    .form-group
      = label_tag :email
      = email_field_tag 'session[email]', @session&.email, class: 'form-control', id: 'email'

    .form-group
      = label_tag :password
      = password_field_tag 'session[password]', @session&.password, class: 'form-control', id: 'password'

    .form-row.sign-in
      .col.justify-content-end
      = submit_tag "Sign in", class: 'button__success'
