<template lang='pug'>
  .transactions-table.container
    .row.header
      .col.col.date
        span Jun 2018
      .col.col.balance
        span -28,321.00 ARS
    .row.transaction(v-for='t in transactions')
      .col.col-lg-auto
        span
          input(type='checkbox')
      .col.col-lg-auto.icon
        i.material-icons.md-36 face
      .col.col-lg-2
        span {{ t.category }}
      .col.col-lg-auto.date
        .abolute {{ t.created_at }}
        .relative 2 days ago
      .col
        span {{ t.description }}
      .col.amount
        span {{ t.amount }} {{ t.currency }}
      //.row.day-separator
        .col
</template>

<script>
export default {
  data: function () {
    return {
      message: 'Hello man',
      transactions: [
        {
          created_at: 'Jun 9, 2018',
          category: 'Fijos',
          description: 'Luz',
          amount: '-1211',
          currency: 'ARS'
        },
        {
          created_at: 'Jun 8, 2018',
          category: 'Takeout',
          description: 'Hamburguesa',
          amount: '-19',
          currency: 'ARS'
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
</style>
