/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_self
 */

// FONTS
$font: "Open Sans",Helvetica,Arial,sans-serif;
$bold: 600;
$bolder: 700;
$font-family-sans-serif: $font;
$font-size-base: 1rem * 0.87;
// $font-size-lg
// $font-size-sm

// COLORS
$grey0: #f4f7fa;
$grey1: #f4f6f8;
$grey2: #93a1aa;
$grey3:#7b93a4;
$grey4: #324c5b;
$green:#12c48b;
$red:#f14c52;

@import "bootstrap";
@import "sessions";

.button__success {
  @extend .btn;
  color: white;
  font-weight: $bold;
  background-color: $green;
  box-shadow: 0 4px 4px 0 rgba(17,195,139,.2)
}

body {
  background-color: $grey0;
  color: $grey4;
  -webkit-font-smoothing: antialiased;
}

header {
  height: 59px;
  border-bottom: 1px solid #e5ebee;
  z-index: 800;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(48,82,120,.03);
  width: 100%;
  align-items: center;
  display: flex;

  .navbar-brand {
    color: $grey4;
    // margin: 0 1em;
    font-weight: $bolder;
    font-size: $font-size-lg;
  }
}

.main-content {
  max-width: 1140px;
  margin-top: 120px;
}

// Index
.section-nav {
  margin-bottom: 15px;
}

.transactions-table {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;

  .col {
    display: flex;
    align-items: center;
  }

  .header {
    padding-bottom: 1em;

    .date {
      color: $grey4;
      font-weight: $bold;
    }

    .balance {
      color: $grey2;
      justify-content: flex-end;
      font-weight: $bolder;
    }
  }

  .transaction {
    @extend .align-items-center;
    padding: 0.5em 0;
    &:hover {
      background-color: $grey1;
    }

    .icon {
      padding: 0;
    }

    .date {
      flex-direction: column;
      align-items: flex-start;
      .relative {
        color: $grey2;
        line-height: 1em;
      }
    }

    .amount {
      color: $red;
      justify-content: flex-end;
      font-weight: $bolder;
    }
  }

  .day-separator {
    height: 1em;
    padding: 0 1.5em;
    align-items: center;

    .col {
      height: 1px;
      background-color: #e5ebee;
    }
  }
}

// Create transaction

button.close-btn {
  @extend .btn;
  background-color: $grey4;
  color: white;
  font-weight: $bold;
}

.create-transaction {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;

  label {
    color: $grey3;
    font-size: $font-size-sm;
    margin-bottom: 0.2em;
  }
}
