.sessions__new, .sessions__create {
  .login-wrapper {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.25em;
    font-weight: bold;
  }

  .form-row.sign-in {
    margin-top: 36px;
  }

  p.error-message {
    text-align: center;
    color: $red;
  }
}

