#app

.create-transaction.container
  .form-row
    .form-group.col-3
      %label Category
      %select.form-control{type: 'select'}
        %option Takeout

    .form-group.col
      %label Date
      %input.form-control{type: 'text'}

    .form-group.col
      %label Description
      %input.form-control{type: 'text'}

    .form-group.col
      %label Account
      %select.form-control{type: 'select'}
        %option Francés USD

    .form-group.col
      %label Amount
      %input.form-control{type: 'text'}

    .form-group.col-auto
      %label Currency
      %select.form-control{type: 'select'}
        %option USD

  .form-row
    .col.justify-content-end
    %button.button__success.add-transaction Add transaction

.transactions-table.container
  .row.header
    .col.col.date
      %span Jun 2018
    .col.col.balance
      %span -28,321.00 ARS
  - 5.times do |i|
    .row.transaction
      .col.col-lg-auto
        %span
          %input{ type: 'checkbox' }
      .col.col-lg-auto.icon
        %i.material-icons.md-36 face
      .col.col-lg-2
        %span Takeout
      .col.col-lg-auto.date
        .abolute Jun 8, 2018
        .relative 2 days ago
      .col
        %span Hamburguesa
      .col.amount
        %span -123.13 ARS
    - if i == 3
      .row.day-separator
        .col





