!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title Wimm
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'
  %body{class: "#{params['controller']}__#{params['action']}"}
    %header.navbar.navbar-light.bg-light.navbar-expand-lg
      %a.navbar-brand{ href: root_path } Wimm

    .main-content.container
      = yield